.app-container {
  text-align: center;
  padding: 20px;
}

.question-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  background-color: #f4f4f4;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}

li:hover {
  background-color: #3583ea;
  color: #fff;
}

.result-container {
  padding: 20px;
  background-color: #dff0d8;
  border-radius: 10px;
}
